.page-wrapper {
  justify-items: center;
}
.page-wrapper-content {
  grid-template-rows: auto 1fr;
  max-width: 1024px;
}
.page-wrapper .product-wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}
.page-wrapper .product-wrapper .article-item {
  color: #000;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  margin: 20px;
  max-width: 100%;
  padding: 20px;
}
@media (min-width: 864px) {
  .page-wrapper .product-wrapper .article-item {
    grid-template-columns: 1fr 1fr;
    height: 400px;
  }
}
.page-wrapper .product-wrapper .article-item img {
  height: 350px;
  width: 100%;
}
.page-wrapper .product-wrapper .article-item .panel-stars {
  background-color: #080808;
  position: relative;
  top: -4px;
  opacity: 0.9;
  width: 100%;
}
.page-wrapper .product-wrapper .article-item .panel-stars :first-child {
  margin-left: 15px;
}
.page-wrapper .product-wrapper .article-item .panel-stars .star {
  display: inline-block;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 22px;
}
.page-wrapper .product-wrapper .article-item .panel-stars .star--active {
  background: url("../../assets/star-active.svg") no-repeat;
}
.page-wrapper .product-wrapper .article-item .panel-stars .star--inactive {
  background: url("../../assets/star-inactive.svg") no-repeat;
}
.page-wrapper .product-wrapper .article-item__content {
  padding: 15px 30px 0;
}
.page-wrapper .product-wrapper .article-item__content-info .item-prize {
  font-size: 22px;
  font-weight: 700;
  position: relative;
  top: 3px;
}
.page-wrapper .product-wrapper .article-item__content-info .item-prize--currency {
  color: #008773;
}
.page-wrapper .product-wrapper .article-item__content-info .item-sold {
  color: red;
  font-size: 12px;
  font-weight: 700;
}
.page-wrapper .product-wrapper .article-item__content-info .button {
  border-radius: 10px;
  clear: right;
  color: #fff;
  float: right;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  width: 100px;
  background: -webkit-linear-gradient(bottom, #007d68, #00bcc0);
}
.page-wrapper .product-wrapper .article-item__content .active-link {
  color: #008773;
  cursor: pointer;
  text-decoration: underline;
}
.page-wrapper .product-wrapper .article-item__content p {
  font-size: 14px;
  height: auto;
  margin: 0;
  padding-bottom: 10px;
}
@media (min-width: 864px) {
  .page-wrapper .product-wrapper .article-item__content hr + p {
    grid-template-columns: 1fr;
    height: 235px;
  }
}
.page-wrapper .product-wrapper .article-item__content h2 {
  margin: 0;
  padding: 0 0 8px 0;
}
.page-wrapper .product-wrapper .article-item__content hr {
  border: 0;
  border-top: 2px solid #008773;
  height: 1px;
}

.modal-items {
  display: none;
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
}
.modal-items-background {
  background-color: #000;
  height: 100%;
  left: 0;
  margin: 0 auto;
  opacity: 0.4;
  position: fixed;
  width: 100%;
}
.modal-items-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  height: 100%;
  overflow: scroll;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.modal-items-wrapper .modal-item-delete {
  display: none;
  grid-template-rows: 44px 220px;
  grid-template-columns: 420px;
  max-width: 600px;
  z-index: 20;
}
.modal-items-wrapper .modal-item-delete__title {
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-items-wrapper .modal-item-delete__content {
  background: url(../../assets/modal-bg.png) grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 25px;
}
.modal-items-wrapper .modal-item-delete__content .button {
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  width: 100px;
}
.modal-items-wrapper .modal-item-delete__content .button__cancel {
  background: -webkit-linear-gradient(top, #b0b0b0, #7b7b7b);
  float: right;
}
.modal-items-wrapper .modal-item-delete__content .button__submit {
  background: -webkit-linear-gradient(bottom, #007d68, #00bcc0);
  float: right;
  margin-left: 25px;
}
.modal-items-wrapper .modal-item-edit {
  display: none;
  grid-template-rows: 44px 1fr;
  grid-template-columns: auto;
  max-width: 600px;
  z-index: 20;
}
.modal-items-wrapper .modal-item-edit__title {
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-items-wrapper .modal-item-edit__content {
  background: url(../../assets/modal-bg.png) grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  padding: 25px;
}
@media (min-width: 600px) {
  .modal-items-wrapper .modal-item-edit__content {
    grid-template-columns: 1fr 1fr;
  }
}
.modal-items-wrapper .modal-item-edit__content .modal-edit-checkbox {
  width: 100%;
}
.modal-items-wrapper .modal-item-edit__content .modal-edit-checkbox p {
  display: inline-block;
}
.modal-items-wrapper .modal-item-edit__content .modal-edit-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.modal-items-wrapper .modal-item-edit__content .modal-edit-checkbox input:checked ~ .checkmark {
  display: inline-block;
}
.modal-items-wrapper .modal-item-edit__content .modal-edit-checkbox input:checked ~ .checkmark::after {
  display: block;
}
.modal-items-wrapper .modal-item-edit__content .modal-edit-checkbox .label-checkbox {
  display: inline-block;
}
.modal-items-wrapper .modal-item-edit__content .modal-edit-checkbox .label-checkbox p {
  font-weight: 300;
  float: right;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.modal-items-wrapper .modal-item-edit__content .modal-edit-checkbox .checkmark {
  position: relative;
  border: 1px solid #008773;
  display: inline-block;
  top: 0;
  left: 0;
  display: inline-block;
  margin-top: 13px;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}
.modal-items-wrapper .modal-item-edit__content .modal-edit-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #008773;
}
.modal-items-wrapper .modal-item-edit__content .modal-edit-dropdown select {
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  height: 30px;
  margin: 5px 0;
  padding-left: 10px;
  width: 100%;
  -webkit-appearance: none;
}
.modal-items-wrapper .modal-item-edit__content .modal-edit-dropdown label::after {
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  color: #008773;
  content: "";
  display: inline-block;
  float: right;
  height: 0;
  margin-left: 0.255em;
  right: 12px;
  vertical-align: 0.255em;
  position: relative;
  top: 35px;
  width: 0;
}
.modal-items-wrapper .modal-item-edit__content label {
  display: block;
  font-size: 12px;
  font-weight: 700;
}
.modal-items-wrapper .modal-item-edit__content img {
  height: 300px;
  width: 100%;
}
.modal-items-wrapper .modal-item-edit__content p {
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 4px 0;
}
.modal-items-wrapper .modal-item-edit__content input {
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  height: 30px;
  margin: 10px 0;
  padding-left: 10px;
  width: 100%;
}
.modal-items-wrapper .modal-item-edit__content input:focus {
  border: 2px solid #92c4bc;
  outline: none;
}
.modal-items-wrapper .modal-item-edit__content input:invalid {
  color: #ff0000;
  border: 2px solid #ff0000;
}
.modal-items-wrapper .modal-item-edit__content .button {
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  width: 100px;
}
.modal-items-wrapper .modal-item-edit__content .button__cancel {
  background: -webkit-linear-gradient(top, #b0b0b0, #7b7b7b);
  float: right;
}
.modal-items-wrapper .modal-item-edit__content .button__submit {
  background: -webkit-linear-gradient(bottom, #007d68, #00bcc0);
  float: right;
  margin-left: 25px;
}

/*# sourceMappingURL=product_admin.css.map */
