.page-wrapper {
  justify-items: center;
}
.page-wrapper-content {
  grid-template-rows: auto 1fr;
  max-width: 1024px;
}
.page-wrapper .product-wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}
.page-wrapper .product-wrapper .article-item {
  color: #000;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: auto;
  margin: 20px;
  max-width: 100%;
  padding: 20px;
}
@media (min-width: 1034px) {
  .page-wrapper .product-wrapper .article-item {
    grid-template-columns: 1fr 1fr;
    height: 400px;
  }
}
.page-wrapper .product-wrapper .article-item img {
  height: 350px;
}

.article-item-left {
  height: 400px;
}

.article-item__content {
  padding: 15px 30px 0;
}
.article-item__content-info .item-prize {
  font-size: 22px;
  font-weight: 700;
  position: relative;
  top: 3px;
}
.article-item__content-info .item-prize--currency {
  color: #008773;
}
.article-item__content-info .item-sold {
  color: red;
  font-size: 12px;
  font-weight: 700;
}
.article-item__content p {
  font-size: 14px;
  height: auto;
  margin: 0;
  padding-bottom: 10px;
}
@media (min-width: 864px) {
  .article-item__content p {
    grid-template-columns: 1fr;
    height: 260px;
  }
}
.article-item__content h2 {
  margin: 0;
  padding: 0 0 8px 0;
  text-align: center;
}
.article-item__content hr {
  border: 0;
  border-top: 2px solid #008773;
  height: 1px;
}

.panel-stars {
  position: relative;
  top: -23px;
  opacity: 0.9;
  width: 100%;
  z-index: 60;
}
.panel-stars .slider-text {
  bottom: 20px;
  display: block;
  color: #fff;
  max-width: 470px;
  text-align: center;
  position: relative;
  z-index: 50;
}
.panel-stars .star {
  display: inline-block;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 22px;
}
.panel-stars .star--first {
  margin-left: 15px;
}
.panel-stars .star--active {
  background: url("../../assets/star-active.svg") no-repeat;
}
.panel-stars .star--inactive {
  background: url("../../assets/star-inactive.svg") no-repeat;
}

.panel-slider {
  background-color: #000;
  position: absolute;
  height: 53%;
  max-width: 470px;
  width: 83%;
}
@media (min-width: 490px) {
  .panel-slider {
    width: 84%;
  }
}
@media (min-width: 520px) {
  .panel-slider {
    width: 85%;
  }
}
.panel-slider__slides {
  height: 100%;
  max-height: 355px;
  max-width: 470px;
  position: relative;
}
.panel-slider__slides-element {
  height: 100%;
  opacity: 0;
  transition: 0.4s;
}
.panel-slider__slides img {
  height: 350px;
  max-width: 470px;
  position: absolute;
  width: 100%;
  transition: 0.4s;
  z-index: 40;
}
@media (min-width: 720px) {
  .panel-slider__slides img {
    width: 100%;
  }
}
.panel-slider__slides .active {
  opacity: 1;
}
.panel-slider__zoom {
  border: 1px solid #ffca00;
  display: none;
  height: 350px;
  width: 250px;
  position: absolute;
  right: 1%;
  top: 8rem;
}
@media (min-width: 920px) {
  .panel-slider__zoom {
    right: 10%;
  }
}
@media (min-width: 1034px) {
  .panel-slider__zoom {
    right: 25%;
  }
}
.panel-slider__arrow {
  height: 100%;
  position: absolute;
  width: 30%;
  z-index: 40;
}
.panel-slider .arrow--left {
  cursor: pointer;
  background-position: center;
  background: url("../../assets//arrow.svg") center no-repeat;
  z-index: 50;
}
.panel-slider .arrow--right {
  cursor: pointer;
  background: url("../../assets//arrow.svg") center no-repeat;
  right: 0;
  transform: rotate(-180deg) translate(0%, 0%);
  z-index: 50;
}

.img-zoom-lens {
  background-color: white;
  display: none;
  opacity: 0.7;
  position: absolute;
  border: 1px solid #ffca00;
  width: 60px;
  height: 90px;
  z-index: 90;
}

.img-watermark {
  color: #fff;
  font-size: 30px;
  height: 40px;
  opacity: 0.6;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 160px;
  z-index: 50;
}

/*# sourceMappingURL=product_customer.css.map */
