<!DOCTYPE html>
<html lang="en">
<head>
        <title>Product Customer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" type="text/css" href="../styles/css/background.css">
        <link rel="stylesheet" type="text/css" href="../styles/css/product_admin.css">

        <script type="text/javascript" src="../script.js"></script>
</head>
<body>
        <div class="page-wrapper">
                <div class="page-wrapper-grey"></div>
                <header class="header">
                        <div class="header-panel">
                                <span class="header-name">Hello John!</span>
                                <span class="header-shop">Shop</span>
                        </div>
                </header>
                <main class="page-wrapper-content">
                        <nav class="navigation">
                                <a class="navigation__back-link" href="#">Back</a>
                                <a class="navigation__right-link" href="#">Main Page</a>
                        </nav>
                        <section class="product-wrapper">
                                <article class="article-item">
                                        <aside class="article-item-left">
                                                <img src='../assets/items/2.jpg'>
                                                <div class="panel-stars">
                                                        <span class="star star--active"></span>
                                                        <span class="star star--active"></span>
                                                        <span class="star star--active"></span>
                                                        <span class="star star--inactive"></span>
                                                        <span class="star star--inactive"></span>
                                                </div>
                                        </aside>
                                        <div class="article-item__content">
                                                <h2>Lorem ipsum item 1</h2>
                                                <hr />
                                                <p>1 Lorem ipsum dolor sit amet, connim veniam. Duis aute irure dolor in reprehenderit in voluptate venim veniam, quis nostrud exercitation ullamco labori. veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate vesectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                                <p>You can <span class="active-link">add 5 more.</span>You can also <span class="active-link" onclick="editItem()">edit</span> details or <span class="active-link" onclick="deleteItem()">delete</span> them.</p>
                                                <hr />
                                                <div class="article-item__content-info">
                                                        <span class="item-prize"><span class="item-prize--currency">$</span>47.95</span>
                                                        <span>(9 times left)</span>
                                                        <button class="button">Buy</button>
                                                </div>
                                        </div>
                                </article>
                        </section>
                </main>
                <footer class="footer">Copyright 2017!!</footer>
        </div>
        <main class="modal-items">
                <div class="modal-items-background"></div>
                <section class="modal-items-wrapper">
                        <div class="modal-item-delete">
                               <div class="modal-item-delete__title">
                                       <p>Are you sure?</p>
                                </div>
                               <div class="modal-item-delete__content">
                                       <p>You are trying to delete item. Lorem ipsum dolor sit amet, connim veniam.</p>
                                        <div class="modal-item-panel-button">
                                                <button class="button button__submit" onclick="confirmDelete()">Submit</button>
                                                <button class="button button__cancel" onclick="cancelDelete()">Cancel</button>
                                        </div>
                               </div>
                        </div>
                        <div class="modal-item-edit">
                               <div class="modal-item-delete__title">
                                       <p>Edit: "Lorem ipsum dolor sit amet, connim veniam."</p>
                                </div>
                                <div class="modal-item-edit__content">
                                       <div class="modal-item-left">
                                               <div class="modal-edit-input">
                                                        <p>Name:</p>
                                                        <input type="text" name="name">
                                               </div>
                                               <div class="modal-edit-dropdown">
                                                       <label>Category:</label>
                                                        <select>
                                                                <option value="wear">Wear</option>
                                                                <option value="jeans">Jeans</option>
                                                                <option value="boats">Boats</option>
                                                        </select>
                                               </div>
                                               <div class="modal-edit-checkbox">
                                                        <label>Gender:</label>
                                                        <label class="label-checkbox">
                                                                <input type="radio" name="gender" value="male"> 
                                                                <p>Male</p>
                                                                <span class="checkmark"></span>
                                                        </label>
                                                        <label class="label-checkbox">
                                                                <input type="radio" name="gender" value="female"> 
                                                                <p>Female</p>
                                                                <span class="checkmark"></span>
                                                        </label>
                                                        <label class="label-checkbox">
                                                                <input type="radio" name="gender" value="other">
                                                                <p>Other</p>
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </div>
                                                <div class="modal-edit-dropdown">
                                                        <p>Description:</p>
                                                        <textarea rows="20" cols="40" name="comment" placeholder="Enter a text here"></textarea>
                                                </div>
                                       </div>
                                       <div class="modal-item-right">
                                                <div class="modal-edit-link">
                                                        <p>Link to image:</p>
                                                        <input type="text" name="image" placeholder="Please enter link to image..">
                                                </div>
                                                <img class="" src="../assets/items/2.jpg" />
                                                <div class="modal-edit-dropdown">
                                                        <label>Price:</label>
                                                        <input type="number" placeholder="Please enter a price">
                                                </div>
                                                <div class="modal-edit-dropdown">
                                                        <label>Rating:</label>
                                                        <select>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                        </select>
                                                </div>
                                                <div class="modal-item-panel-button">
                                                        <button class="button button__submit" onclick="confirmEditItem()">Submit</button>
                                                        <button class="button button__cancel" onclick="cancelEditItem()">Cancel</button>
                                                </div>
                                        </div>
                               </div>
                        </div>
                </section>
        </main>
</body>
</html>
