<!DOCTYPE html>
<html lang="en">
<head>
        <title>Product Customer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" type="text/css" href="../styles/css/background.css">
        <link rel="stylesheet" type="text/css" href="../styles/css/product_customer.css">
        <link rel="stylesheet" type="text/css" href="../styles/css/review.css">

        <script type="text/javascript" src="../build/main.bundle.js"></script>
        <script type="text/javascript" src="../js/script.js"></script>
        <script type="text/javascript" src="../build/component.bundle.js"></script>
</head>
<body>
        <div class="page-wrapper">
                <div class="page-wrapper-grey"></div>
                <header class="header">
                        <div class="header-panel">
                                <span class="header-name">Hello John!</span>
                                <span class="header-shop">Shop</span>
                        </div>
                </header>
                <div class="page-wrapper-content">
                        <nav class="navigation">
                                <a class="navigation__back-link" href="#">Back</a>
                                <a class="navigation__right-link" href="#">Main Page</a>
                        </nav>
                        
                        <main class="product-wrapper">
                                <section class="article-item">
                                        <aside class="article-item-left">
                                                <app-slider></app-slider>
                                                <div class="panel-stars">
                                                        <span class="slider-text">Lorem Ipsum 1</span>
                                                        <span class="star star--first star--active"></span>
                                                        <span class="star star--active"></span>
                                                        <span class="star star--active"></span>
                                                        <span class="star star--inactive"></span>
                                                        <span class="star star--inactive"></span>
                                                </div>
                                        </aside>
                                        <div class="article-item__content">
                                                <h2>Lorem ipsum item 1</h2>
                                                <hr />
                                                <p>1 Lorem ipsum dolor sit amet, connim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate venim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate venim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate vesectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                                <hr />
                                                <div class="article-item__content-info">
                                                        <span class="item-prize"><span class="item-prize--currency">$</span>47.95</span>
                                                        <span class="item-sold">(sold out)</span>
                                                </div>
                                        </div>
                                </section>
                                <section class="app-review">
                                        <div class="add-review-open">
                                                <p>There is no user reviews for now <br/></p>
                                                <p id='dynamicReviewParagraph'>Would you like <a class="add-review-open__button">to share your thoughts with other customers.</a>
                                                </p>
                                        </div>
                                        <app-review></app-review>
                                </section>
                        </main>
                </div>
                <footer class="footer">Copyright 2017!!</footer>
        </div>
</body>
</html>
