@import '../scss/variables.scss';

.page-wrapper {
  justify-items: center;

  &-content {
    grid-template-rows: auto 1fr;
    max-width: 1024px;
  }

  .product-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;

    .article-item {
      color: $dark-color;
      background-color: $white-color;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      height: auto;
      margin: 20px;
      max-width: 100%;
      padding: 20px;

      @media (min-width: 1034px) {
        grid-template-columns: 1fr 1fr;
        height: 400px;
      }
      
      img {
        height: $image-height;
      }
    }
  }
}
.article-item-left {
  height: 400px;
}

.article-item__content {
  padding: 15px 30px 0;

  &-info {
    .item-prize {
      font-size: 22px;
      font-weight: 700;
      position: relative;
      top: 3px;

      &--currency {
        color: $green-color;
      }
    }

    .item-sold {
      color: red;
      font-size: 12px;
      font-weight: 700;
    }
  }

  p {
    font-size: 14px;
    height: auto;
    margin: 0;
    padding-bottom: 10px;

    @media (min-width: 864px) {
      grid-template-columns: 1fr;
      height: 260px;
    }
  }

  h2 {
    margin: 0;
    padding: 0 0 8px 0;
    text-align: center
  }

  hr {
    border: 0;
    border-top: 2px solid $green-color;
    height: 1px;
  }
}

.panel-stars {
  position: relative;
  top: -23px;
  opacity: 0.9;
  width: 100%;
  z-index: $panel-text-z-index;

  .slider-text {
    bottom: 20px;
    display: block;
    color: $white-color;
    max-width: 470px;
    text-align: center;
    position: relative;
    z-index: $arrow-z-index;
  }

  .star {
    display: inline-block;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 22px;

    &--first {
      margin-left: 15px;
    }

    &--active {
      background: url('../../assets/star-active.svg') no-repeat;
    }

    &--inactive {
      background: url('../../assets/star-inactive.svg') no-repeat;
    }
  }
}

.panel-slider {
  background-color: $dark-color;
  position: absolute;
  height: 53%;
  max-width: 470px;
  width: 83%;

  @media (min-width: 490px) {
    width: 84%;
  }

  @media (min-width: 520px) {
    width: 85%;
  }

  &__slides {
    height: 100%;
    max-height: 355px;
    max-width: 470px;
    position: relative;

    &-element {
      height: 100%;
      opacity: 0;
      transition: 0.4s;
    }
    
    img {
      height: 350px;
      max-width: 470px;
      position: absolute;
      width: 100%;
      transition: 0.4s;
      z-index: $slider-z-index;
      @media (min-width: 720px) {
        width: 100%;
      }
    }

    .active {
        opacity: 1;
    }
  }

  &__zoom {
    border: 1px solid #ffca00;
    display: none; 
    height: 350px;
    width: 250px;
    position: absolute;
    right: 1%;
    top: 8rem;

    @media (min-width: 920px) {
      right: 10%;
    }

    @media (min-width: 1034px) {
      right: 25%;
    }
  }

  &__arrow {
    height: 100%;
    position: absolute;
    width: 30%;
    z-index: $slider-z-index;
  }

  .arrow {
    &--left {
      cursor: pointer;
      background-position: center;
      background: url('../../assets//arrow.svg') center no-repeat;
      z-index: $arrow-z-index;
    }
    &--right {
      cursor: pointer;
      background: url('../../assets//arrow.svg') center no-repeat;
      right: 0;
      transform: rotate(-180deg) translate(0%, 0%);
      z-index: $arrow-z-index;
    }
  }
}

.img-zoom-lens {
  background-color: white;
  display: none;
  opacity: 0.7;
  position: absolute;
  border: 1px solid #ffca00;
  width: 60px;
  height: 90px;
  z-index: 90;
}

.img-watermark {
  color: $white-color;
  font-size: 30px;
  height: 40px;
  opacity: 0.6;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 160px;
  z-index: $arrow-z-index;
}